* {
    font-family: arial
}

body {
    background-color: #3399ff;
    font-family: Helvetica;
}

h1 {
    color: purple;
    justify-content: center;
}
#page_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    grid-auto-flow: column;
}

#city_name_container {
    grid-column-start: 2;
    grid-row-start: 1;
    color: white;
    grid-column-start: 2
}

#temperature_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    justify-items: center
}
#temperature_heading {
    grid-column: 1 / 3;
}

#temperature_widget {
    grid-row-start: 2
}

#current_temp_button {
    grid-column-start: 2;
    grid-row-start: 2
}

#heading {
    color: purple;
    text-align: center;
}

#city_name {
    color: darkblue;
}

.section_heading {
    color: darkblue
}

.weather_garden_container {
    grid-row-start: 2;
    grid-column-start: 2 / span 3;
}

.section {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center
}

.red {
    color: red;
}

.orange {
    color: orange
}

.yellow {
    color: yellow;
}

.green {
    color: green
}

.teal {
    color: teal
}